@model GigHub.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {

        <button data-gig-id="@Model.Gig.Id"
                class="btn @(Model.IsFollowing?"btn-info":"btn-default") js-toggle-attendance">
            @(Model.IsFollowing ? "Following" : "Follow")
        </button>

    }
</h2>
<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")
</p>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event. </p>
}

@section scripts{
    <script>
        $(document).ready(function () {
            
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                gigId = button.attr("data-gig-id");

                if (button.hasClass("btn-default")) {
                    $post("/api/attendance", { gigId: button.attr("data-gig-id") })
                    .done(function () {

                        alert("haha");
                    })
                    .fail("f**k.");
                }
                else {

                    $.ajax({
                        url: "/api/attendance" + gigId,
                        method: "DELETE"

                    })
                    .done(function () { alert(gigId); })
                    .fail(function () { alert("failed"); });

                   
                }
            });

        }) ;
    </script>  
    
    }
